{% extends 'base.html' %}

{% block conteudo %}

<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <h1>Clientes <small>Visualizar Clientes Novos</small></h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-user"></i> Visualizar Clientes Novos</li>
      </ol>

      <!-- ################# LOCAL DE ALERTA ####################### -->

    </div>
  </div><!-- /.row -->

  <span id="status_volta"></span>

  <div class="row">

    <div class="col-lg-12">

            <ol class="breadcrumb">
              <li class="active form-inline">

                  <div class="form-group">
                      <select class="form-control" name="opcoes" id="opcoes">
                        <option value="0" selected="selected"> -- Opções -- </option>
                        <option value="ativar">Ativar</option>
                        <option value="desativar">Desativar</option>
                        <option value="editar">Editar</option>
                        <option value="remover">Remover</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <button type="button" class="btn btn-primary" id="action_bt_opcoes">OK</button>
                  </div>

              </li>
            </ol>

            <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th># <i class="fa fa-sort"></i></th>
                  <th>ID <i class="fa fa-sort"></i></th>
                  <th>Cliente <i class="fa fa-sort"></i></th>
                  <th>Email <i class="fa fa-sort"></i></th>
                  <th>Tipo <i class="fa fa-sort"></i></th>
                  <th>Data Cadastro <i class="fa fa-sort"></i></th>
                  <th>Status <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>

                {% if clie|length > 0 %}
                {% for valor in clie %}
                    <tr>
                      <td>
                        <input type="checkbox" value="{{ valor.codigo }}" name="codigo_cli" id="codigo_cli">
                        <input type="hidden" id="idcliente" name="idcliente" value="{{ valor.codigo }}">
                      </td>
                      <td>{{ valor.codigo }}</td>
                      <td>{{ valor.nome }}</td>
                      <td>{{ valor.email1 }}</td>

                      {% if valor.tipo_cliente == 'u' %}
                           <td>Usuário</td>
                      {% else %}
                          <td>Revendedor</td>
                      {% endif %}

                      <td>{{ valor.data_cadastro }}</td>


                      {% if valor.status == 'a' %}
                        <td>
                          <a href="#" class="limpa-estilo muda_status" id="{{ valor.codigo }}" vstatus="{{ valor.status }}">
                            <span class="label label-success">Ativado</span>
                          </a>
                        </td>
                      {% else %}
                        <td>
                          <a href="#" class="limpa-estilo muda_status" id="{{ valor.codigo }}" vstatus="{{ valor.status }}">
                            <span class="label label-danger">Desativado</span>
                          </a>
                        </td>
                      {% endif %}
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                      <td></td>
                      <td>Nenhum Registro</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                {% endif %}
              </tbody>
            </table>

    </div>

  </div><!-- /.row -->



</div><!-- /#page-wrapper -->

{% endblock %}
